<header>
    <section class="section">
        <div class="container">
            <picture class="hero-header">
                <source srcset="./images/header-desktop-1.jpg 1x, ./images/header-desktop-2.jpg 2x"
                    media="(min-width: 1024px)">
                <source srcset="./images/header-tablet-1.jpg 1x, ./images/header-tablet-2.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/header-phone-1.jpg 1x, ./images/header-phone-2.jpg 2x"
                    media="(max-width: 768px)">
                <img src="./images/header-desktop-1.jpg" alt="Film">
            </picture>
        </div>
    </section>
</header>