<header>
    <!-- <section class="section">
        <div class="container">
            <picture class="hero-ice-cream">
                <source srcset="./images/hero-ice-cream-1x.png 1x, ./images/hero-ice-cream-2x.png 2x"
                    media="(min-width: 1280px)">
                <source srcset="./images/tablet-hero-ice-cream-1x.png 1x, ./images/tablet-hero-ice-cream-2x.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/mobile-hero-ice-cream-1x.png 1x, ./images/mobile-hero-ice-cream-2x.png 2x"
                    media="(max-width: 768px)">
                <img src="./images/hero-ice-cream-1x.png" alt="ice-cream">
            </picture>
        </div>
    </section> -->
</header>