*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #000000;
  background-color: #ffffff;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 321px) {
  .container {
    max-width: 768px;
    padding: 0 76px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
