.film-card {
  // width: 280px;

  font-family: $main-font;
  font-weight: 500;
  font-size: $main-font-size;
  line-height: 1.33;

  cursor: pointer;
  transition: transform $animation, box-shadow $animation;

  @media screen and (max-width: $mobileBreakpoint) {
    margin: 0 auto;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: $tabletBreakpoint) and (max-width: ($desktopBreakpoint - 1)) {
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;

    &:not(:nth-child(2n)) {
      margin-bottom: 30px;
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    width: 274px;
    margin-bottom: 30px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.film-card:hover,
.film-card:focus {
  //   box-shadow: px px px px rgba(80, 80, 80 / 20%);
  transform: scale(105%);
}

.film-card__img {
  height: 402px;
  margin-bottom: 10px;
  border-radius: $radius;

  @media screen and (min-width: $tabletBreakpoint) {
    height: 398px;
  }
}

.film-card__title {
  text-transform: uppercase;
  color: $primary-text-color;
  margin-bottom: 3px;
  font-size: 12px;
}

.film-card__text {
  position: relative;

  width: 294px;
  color: $color-accent;
}

.film-card__vote {
  position: absolute;
  left: px;
  top: -44px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content:center;

  width: 36px;
  height: 16px;
  line-height: 1.17;

  color: $color-main;
  background-color: $color-accent;
  border-radius: 5px;
}
