.section-library {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.film-card-lib__name {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.collection-lib {
  color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .film-card-lib:not(:last-child) {
    margin-bottom: 20px;
  }
}
.container-main-lib {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  min-height: 100vh;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
.collection-lib {
  margin-bottom: -20px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
